
.comment-edit-form {
     grid-area: content;
 }

 .comment-edit-form textarea {
    width: 530px;
    margin: 5px auto;
    border-radius: 4px;
    min-height: 50px;
    resize: vertical;
 }

 @media (max-width: 1000px) {
    .comment-edit-form textarea {
        width: 340px;
    }
}
