.posts-latest {
    width: 650px;
    /* margin: auto; */
}

/* #posts-latest {
    background-attachment: fixed;
    position: relative;
    bottom: 50;
    z-index: -5;
    margin: 0px;
    background-repeat: no-repeat;
    background-image: url(../../images/site-bg.jpg);
    background-size: contain;
} */

.posts-latest > h1 {
    text-align: center;
}

@media (max-width: 700px) {
    .posts-latest {
        width: 450px;
    }
}
