/* TODO Add site wide styles */

body {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}
