/* TODO Add site wide styles */

body {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    margin-top: 100px;
}

* {
    box-sizing: border-box;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

#not-found {
    position: relative;
    width: 400px;
    text-align: center;
    left: 50px;
    top: 50px
}

a {
    text-decoration: none;
}
