@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.post-create-container {
    display: grid;
    grid-template-columns: 450px 400px;
    width: 900px;
    padding: 3px;
    box-shadow: 0px 0px 6px 3px rgb(96, 178, 189), -4px 6px 7px 2px rgba(77, 77, 77, 0.671);
    border-radius: 8px;
}

#post-create-img {
    width: 400px;
    align-self: center;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    grid-column: 1 / 2;
}

.post-create-form {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-create-form input {
    border-radius: 4px;
    padding: 5px;
}

.post-create-form textarea {
    resize: none;
    border-radius: 4px;
    border-width: 2px;
    padding: 5px;
}

.post-create-form select,
.language-label {
    width: 150px;
    align-self: center;
    border-radius: 4px;
    border-width: 2px;
    padding: 2px;
}

.post-create-form label:not(.errors),
.language-label {
    margin: 5px 3px 2px;
    font-size: 14pt;
    color: rgb(0, 86, 97);
}

.post-create-form button {
    margin-top: 20px;
    margin-bottom: 8px;
    padding: 10px 15px;
    font-size: 16pt;
    align-self: center;
    background-color: rgb(212, 241, 245);
    border: 2px solid rgb(0, 86, 97);
}

.post-create-form button:hover {
    position: relative;
    top: 5px;
    box-shadow: -2px -2px 5px 1px rgb(53, 53, 53);
}

@media (max-width: 1000px) {
    #post-create-img {
        display: none;
    }

    .post-create-container {
        display: grid;
        grid-template-columns: 500px;
        width: 500px;
        padding: 3px;
        margin: auto;
        box-shadow: 0px 0px 6px 3px rgb(96, 178, 189), -4px 6px 7px 2px rgba(77, 77, 77, 0.671);
        border-radius: 8px;
    }

    .post-create-form {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
