.navbar {
    position: fixed;
    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
    width: 250px;
    right: 0px;
}

.navbar button {
    position: relative;
    right: 100px;
}

 .nav-links {
    position: fixed;
    top: 0px;
    border-left: 1px solid black;
    height: 100%;
    transition: all 0.25s linear;
    background-color: white;
 }
