.navbar {
    position: fixed;
    width: 220px;
    right: 80px;
}

.navbar h2 {
    margin: 20px auto 5px;
    text-align: center;
    width: 250px;
}

.navbar h2 + h2 {
    margin: auto;
}


.navbar > button {
    position: absolute;
    right: 200px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgb(53, 53, 53);
    transition: 0.3s;
    z-index: 1;
    background-color: white;
}

.navbar > button:hover {
    box-shadow: 0px 0px 6px 2px rgb(53, 53, 53);;
    transition: 0.3s;
}

.logo {
    position: relative;
    left: 4px;
    top: 4px;
    height: 80px;
}


 .nav-links {
    position: fixed;
    top: 0px;
    box-shadow: 1px 0px 6px 1px rgb(98, 98, 98);
    height: 500px;
    transition: all 0.8s linear;
    border-radius: 3px;
    background-color: rgba(62, 185, 158, 0.397);
 }

 .nav-links:hover {
    box-shadow: 1px 0px 10px 1px black;
    background-color: rgb(137, 221, 203);
 }

.nav-links__list {
    padding: 10px;
    padding-left: 20px;
}

.nav-links__list li {
    height: 30px;
    margin: 10px;
}


#logout-btn {
    position: relative;
    left: 2px
}

.nav-links a,
#logout-btn {
     color: black;
     font-size: 16pt;
     transition: 0.3s;
 }

 .nav-links a:hover,
 a.navbar--active,
 #logout-btn:hover {
     font-style: italic;
     font-size: 18pt;
     transition: 0.3s;
 }

 .navbar__search {
     margin-top: 30px;
     text-align: center;
 }

 .navbar__search input {
     border-radius: 4px;
     height: 20px;
     width: 125px;
     margin: auto;
 }

 .nav-footer {
     display: flex;
     align-items: flex-end;
     height: 200px;
 }

 @media (max-width: 1000px) {

    .nav-links {
        position: fixed;
        right: 0px;
        top: 0px;
        height: 50px;
        width: 100%;
        transition: all 0s linear;
        background-color: rgb(137, 221, 203);
        box-shadow: 1px 0px 10px 1px black;
    }

    .nav-links__list {
        display: flex;
        justify-content: space-evenly;
        padding: 0px;
    }

    .nav-links__list li {
        padding: 0px;
        margin: 0px;
    }

    .nav-links__list a {
        font-size: 2.5vw;
    }

    .nav-links__list a:hover,
    #logout-btn:hover {
        font-size: 3vw;
    }

    #logout-btn {
        position: static;
        font-size: 2.7vw;
    }

    .navbar__hello {
        display: none;
    }

    .nav-footer {
        display: none;
        height: 0px;
    }
}
